/**
 * Global
 */

a {
  color: map-get($theme-colors, 'primary');
}

/**
 * Block editor color palette utilities
 * @see https://git.io/JeyD6
 */

@each $color-name, $color-value in $theme-colors {
  .has-#{$color-name}-color {
    color: $color-value;
  }

  .has-#{$color-name}-background-color {
    background-color: $color-value;
  }
}


html {
  font-size: 1rem;

  @include media-breakpoint-up(sm) {
    font-size: calc(0.5vw + 0.7rem);
  }
}

a {
  color: theme-color("enlace");
  transition: color $trans, background-color $trans;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
