@font-face {
  font-family: 'barlow';
  src: url('../fonts/barlow-black-webfont.woff2') format('woff2'),
       url('../fonts/barlow-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'barlow';
  src: url('../fonts/barlow-blackitalic-webfont.woff2') format('woff2'),
       url('../fonts/barlow-blackitalic-webfont.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'barlow';
  src: url('../fonts/barlow-bold-webfont.woff2') format('woff2'),
       url('../fonts/barlow-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'barlow';
  src: url('../fonts/barlow-bolditalic-webfont.woff2') format('woff2'),
       url('../fonts/barlow-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'barlow';
  src: url('../fonts/barlow-extrabold-webfont.woff2') format('woff2'),
       url('../fonts/barlow-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'barlow';
  src: url('../fonts/barlow-extrabolditalic-webfont.woff2') format('woff2'),
       url('../fonts/barlow-extrabolditalic-webfont.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'barlow';
  src: url('../fonts/barlow-extralight-webfont.woff2') format('woff2'),
       url('../fonts/barlow-extralight-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'barlow';
  src: url('../fonts/barlow-extralightitalic-webfont.woff2') format('woff2'),
       url('../fonts/barlow-extralightitalic-webfont.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'barlow';
  src: url('../fonts/barlow-italic-webfont.woff2') format('woff2'),
       url('../fonts/barlow-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'barlow';
  src: url('../fonts/barlow-light-webfont.woff2') format('woff2'),
       url('../fonts/barlow-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'barlow';
  src: url('../fonts/barlow-lightitalic-webfont.woff2') format('woff2'),
       url('../fonts/barlow-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'barlow';
  src: url('../fonts/barlow-medium-webfont.woff2') format('woff2'),
       url('../fonts/barlow-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'barlow';
  src: url('../fonts/barlow-mediumitalic-webfont.woff2') format('woff2'),
       url('../fonts/barlow-mediumitalic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'barlow';
  src: url('../fonts/barlow-regular-webfont.woff2') format('woff2'),
       url('../fonts/barlow-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'barlow';
  src: url('../fonts/barlow-semibold-webfont.woff2') format('woff2'),
       url('../fonts/barlow-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'barlow';
  src: url('../fonts/barlow-semibolditalic-webfont.woff2') format('woff2'),
       url('../fonts/barlow-semibolditalic-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'barlow';
  src: url('../fonts/barlow-thin-webfont.woff2') format('woff2'),
       url('../fonts/barlow-thin-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'barlow';
  src: url('../fonts/barlow-thinitalic-webfont.woff2') format('woff2'),
       url('../fonts/barlow-thinitalic-webfont.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}
